*{
    margin: 0px;
    padding: 0px;
    background-size: contain;
}

body{
    background-color: #C7BFAA;
    background: linear-gradient(to bottom, #C7BFAA, white) ;
    font-family: 'Poppins', sans-serif;
    }

header{
    display: flex;
    justify-content:space-around ;
    background-color:#01528A;
    padding: 15px;
    padding-left: 0px;
    padding-right: 0px;
    border: 10px;
    align-items: center;
    width:100%;
    /* position: sticky; */
}
header a{
    color: white;
}
a{
    text-decoration: none;
}
#redes{
    
    justify-content: right;
    filter: drop-shadow(2px 2px 2px  grey);

}
#redes:hover{
    filter: drop-shadow(2px 2px 2px white);
}
nav{
    background-color: #01528A;
    text-align: center;
    padding: 2%;
}

.flex-container_nav{
    display: flex;
    flex-flow: row auto;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-evenly;
    
}
.flex-container_nav a {
    color: whitesmoke;
}
.flex-container_nav a:hover {
    color: #0096D3;
}

#logo{
    text-align: center;
    padding-top: 75px;
    padding-bottom: 50px;
    
    }

#logo_fecsa{
         
    text-align: center;
    border-radius: 100%;
    filter: drop-shadow(1px 1px 10px rgb(101, 102, 101)); 
    
}
#login{
    align-items: center;
    justify-content: right;
    
    font-size: small;
}
#index_link:hover{
    filter: drop-shadow(10px 5px 10px grey);
}
#logo_portfolio{
    border-radius: 100%;
}

/* ----- */
/* MAIN */
/* --- */

#logoingreso {
    
    width: 250px;
    filter: drop-shadow(2px 2px 1px grey);
    padding: 100px;
    border-radius: 100%;
    
    
}

#flex-container{
    display: flex;
    
}






footer{
    background-color:#010135;
    padding: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}
table{
    display: flex;
    flex: 1 1 auto;
    color: #EEEBC2;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    font-style: italic;
    
}
table thead th{
    text-align: lef;
    width: 30%;
}

tbody td{
    text-align: left;
}

.flex-container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    flex: 1 1 auto;
    
}

footer img{
    padding: 10px;

}

